{% extends 'base.html.twig' %}

{% block title %}Acces index{% endblock %}

{% block body %}
    <h1>Acces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acce in acces %}
            <tr>
                <td>{{ acce.id }}</td>
                <td>
                    <a href="{{ path('acces_show', {'id': acce.id}) }}">show</a>
                    <a href="{{ path('acces_edit', {'id': acce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('acces_new') }}">Create new</a>
{% endblock %}
